@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Navigations;
@using Syncfusion.Blazor.Spinner

@inject IJSRuntime _jsRuntime
@inject IQueryDispatcher _queryDispatcher;
@inject ICommandDispatcher _commandDispatcher;

@inject ITrendNodesLoader _trendNodesLoader;
@inject IComponentConnectionLoader _componentConnectionLoader;
@inject IConnectorFactory _connectorFactory;

<SfToolbar @ref="@_toolbar" Height="@_toolbarHeight" Width="100%">
    <ToolbarItems>
        <ToolbarItem @ref="@_zoomInItem" TooltipText="ZoomIn" CssClass="@_zoomInCssClass" PrefixIcon="e-icons e-zoom-in" OnClick="@OnZoomInItemClick" />
        <ToolbarItem @ref="@_zoomOutItem" TooltipText="ZoomOut" CssClass="@_zoomOutCssClass" PrefixIcon="e-icons e-zoom-out" OnClick="@OnZoomOutItemClick" />
        <ToolbarItem @ref="@_resetItem" TooltipText="Reset" CssClass="@_resetItemCssClass" PrefixIcon="e-icons e-refresh" OnClick="@OnResetItemClick" />
        <ToolbarItem Type="ItemType.Separator" />
        <ToolbarItem @ref="@_panItem" PrefixIcon="e-icons e-pan" CssClass="@_panZoomCssClass" TooltipText="Pan Tool" OnClick="@OnPanClick" />
        <ToolbarItem @ref="@_editTrendItem" PrefixIcon="e-icons e-resize" CssClass="@_editTrendCssClass" TooltipText="Edit trend" OnClick="@OnEditTrendClick" />
        <ToolbarItem @ref="@_editConnectionItem" PrefixIcon="e-icons e-length" CssClass="@_editConnectionCssClass" TooltipText="Edit connection" OnClick="@OnEditConnectionClick" />
        <ToolbarItem Type="ItemType.Separator" />
        <ToolbarItem @ref="@_viewItem" CssClass="@_viewCssClass" PrefixIcon="e-icons e-bring-to-view" TooltipText="Bring into view" OnClick="@OnBringIntoViewClick" />
        <ToolbarItem @ref="@_centerItem" CssClass="@_centerCssClass" PrefixIcon="e-icons e-bring-to-center" TooltipText="Bring into center" OnClick="@OnBringIntoCenterClick" />
        <ToolbarItem Type="ItemType.Separator" />
        <ToolbarItem @ref="@_fitToPageItem" CssClass="@_fitCssClass" OnClick="@OnFitToPageClick" PrefixIcon="e-icons e-zoom-to-fit" TooltipText="Fit To Page" />

        <ToolbarItem PrefixIcon="e-icons e-search" TooltipText="Search" Align="@ItemAlign.Right" />
        <ToolbarItem PrefixIcon="e-icons e-settings" TooltipText="Settings" Align="@ItemAlign.Right" />
    </ToolbarItems>
</SfToolbar>
<div>
    <h4 class="overlay-panel-header">Trends</h4>
    <SfDiagramComponent
        @ref="_trendsDiagram"
        Width="@_diagramWidth"
        Height="@_diagramHeight"
        InteractionController="@_diagramTool"
        DrawingObject="@DrawingObject"
        TextChanged="OnTrendNodeTextChanged"
        PositionChanged="OnTrendNodePositionChanged"
        SizeChanged="OnTrendNodeSizeChanged"
        ConnectionChanging="OnConnectionChanging"
        ConnectionChanged="OnConnectionChanged"
        SourcePointChanged="OnConnectionPointChanged"
        TargetPointChanged="OnConnectionPointChanged"
        Nodes="@_nodes"
        Connectors="@_connectors"
        Click="OnClicked"
        SelectionChanged="OnTrendSelected">
        <ScrollSettings
            CurrentZoom="@_currentZoom"
            HorizontalOffset="@_horizontalOffset"
            VerticalOffset="@_verticalOffset"
            CurrentZoomChanged="OnCurrentZoomChanged"
            HorizontalOffsetChanged="OnHorizontalOffsetChanged"
            VerticalOffsetChanged="OnVerticalOffsetChanged"
            ScrollLimit="ScrollLimitMode.Infinity"/>
        <SnapSettings Constraints="_snapConstraints">
            <HorizontalGridLines LineColor="#e0e0e0" SnapIntervals="@_lineInterval"/>
            <VerticalGridLines LineColor="#e0e0e0" SnapIntervals="@_lineInterval"/>
        </SnapSettings>
        <Layout
            type="@LayoutType.None"
            HorizontalSpacing="_horizontalSpacing"
            Orientation="_orientation"
            VerticalSpacing="_verticalSpacing"
            HorizontalAlignment="_horizontalAlignment"
            VerticalAlignment="_verticalAlignment"
            GetLayoutInfo="GetLayoutInfo">
            <LayoutMargin Top="50" Bottom="50" Right="50" Left="50"/>
        </Layout>
    </SfDiagramComponent>
    <ActivityIndicator />
</div>
